.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404bbf;
    --navy-blue-color: #2e2f42;
    --green-color: #31d0aa;
    --slate-color: #434455;
    --light-slate-color: #8e8f99;
    --cornflower-color: #e7e9fc;
    --cloud-color: #f4f4fd;
    --navy-blue-modal-color: rgba(46, 47, 66, 0.4);
    --grey-color: rgba(46, 47, 66, 0.7);
    --white-color: #fff;
    --dairy-color: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*header*/

.header {
    border-bottom: 1px solid var(--cornflower-color);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-accents {
    color: var(--navy-blue-color);
}

.burger-bth {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: var(--navy-blue-color);
}

@media screen and (min-width:768px) {
    .burger-bth {
        display: none;
    }

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-link {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue-color);
        padding: 24px 0;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link::after {
        content: "";
        background-color: var(--ocean-color);
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--slate-color);
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contact-link:hover,
    .contact-link:focus,
    .nav-link.current {
        color: var(--ocean-color);
    }
}

@media screen and (min-width:1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        display: flex;
        gap: 40px;
    }

    .contact-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/*mobile menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-conteiner {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-bth {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--cornflower-color);

    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    cursor: pointer;

}

.mobile-close {
    fill: var(--navy-blue-color);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.other {
    color: var(--ocean-color);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: var(--ocean-color);
}

.mobile-address {
    margin-bottom: 48px;
}

.modile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate-color);
    font-family: var(--font-family);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
    color: var(--ocean-color);
}

.mobile-contact-link:hover,
.mobile-contact-link:focus {
    color: var(--ocean-color);
}

.mobile-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.mobile-item {

    width: 40px;
    height: 40px;
}

.mobile-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon {
    fill: var(--cloud-color);
}

.mobile-link:hover,
.mobile-link:focus {
    background-color: var(--ocean-color);
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

/*effective solutions for your business*/

.hero {
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        image-set(url('../images/office/office-mob-min.jpg') 1x,
            url('../images/office/office-mob@2x-min.jpg') 2x);
    padding: 72px 0;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-color);
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    margin: 0 auto;
    margin-top: 72px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--ocean-color);
}


@media screen and (min-width:768px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url('../images/office/office-tab-min.jpg') 1x,
                url('../images/office/office-tab@2x-min.jpg') 2x);
        padding: 112px 0;
        max-width: 768px;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .hero-button {
        margin-top: 36px;
    }

}

@media screen and (min-width:1158px) {
    .hero {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            image-set(url('../images/office/office-desk-min.jpg') 1x,
                url('../images/office/office-desk@2x-min.jpg') 2x);
        padding: 188px 0;
        max-width: 1440px;
    }

    .hero-button {
        margin-top: 48px;
    }
}

/*service*/

.services {
    background: var(--white-color);
    padding: 96px 0;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.service-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}


.icon-container {
    display: none;
}

@media screen and (min-width:768px) {
    .services-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        max-height: 312px;
    }

    .service-item {
        width: calc((100% - 24px) / 2);
    }

    .service-title {
        text-align: left;
    }
}

@media screen and (min-width:1158px) {
    .services {
        padding: 120px 0;
    }

    .services-list {
        gap: 24px;
    }

    .service-item {
        width: calc((100% - 72px) / 4);
    }

    .service-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .service-text {
        font-weight: 400;
    }

    .icon-container {
        border: 1px solid var(--light-slate-color);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: var(--cloud-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;

    }
}

/*our team*/

.team {
    background: var(--cloud-color);
    padding: 96px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
}

.team-item {
    background: var(--white-color);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 264px;
    margin: 0 auto;
    padding: 0;
}

.team-photo {
    display: block;
    width: 100%;
    height: auto;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
}

.team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--slate-color);
}

.team-info {
    padding: 32px 0;
}

.icon-team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 0;
    margin-top: 8px;
}

.icon-team-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--ocean-color);
}

.icons {
    fill: var(--cloud-color);
}

@media screen and (min-width:768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        padding: 0 92px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px) {
    .team {
        padding: 120px 0;
    }

    .team-list {
        gap: 24px;
        flex-wrap: wrap;
        padding: 0;
    }

    .team-item {
        width: calc((100% - 3 * 24px) / 4);
    }
}

/* our portfolio */
.portfolio {
    padding: 96px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue-color);
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    background-color: var(--white-color);
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 8px;
    margin-top: 0;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
    margin: 0;
}

.portfolio-container-hover {
    position: relative;
    overflow: hidden;
}

.portfolio-text-hover {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    font-family: var(--font-family);
    padding: 40px 32px;
    background: var(--iris-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-hover {
    transform: translateY(0%);
}

@media screen and (min-width:768px) {
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width:1158px) {
    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}

/*footer*/

.footer {
    background-color: var(--navy-blue-color);
    padding: 96px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-box {
    margin-bottom: 72px;
}

.footer-logo-full {
    text-align: center;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: var(--second-family);
    text-align: center;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-accent,
.footer-logo-main {
    display: inline;
}

.footer-logo-accent {
    color: var(--iris-color);
}

.footer-logo-main {
    color: var(--cloud-color);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    max-width: 288px;

}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
    text-align: center;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    fill: var(--cloud-color);
}

.send-container {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}

.send-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    font-family: var(--font-family);
    margin-bottom: 16px;
    text-align: center;
}

.icons-send {
    fill: var(--white-color);
    margin-left: 16px;
}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    height: 40px;
    background-color: var(--iris-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color);
    border: none;
    min-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:focus {
    background-color: #31d0aa;
}

.send-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.send-input {
    font-size: 12px;
    width: 288px;
    height: 40px;
    border: 1px solid var(--white-color);
    border-radius: 4px;
    padding-left: 16px;
    background-color: transparent;
    color: var(--white-color);
    font-family: var(--font-family);
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-input::placeholder {
    color: var(--white-color);
    opacity: 0.3;
}

.send-input:focus {
    background-color: #31d0aa;
}

@media screen and (min-width:768px) {
    .footer {
        padding-top: 96px;
        padding-bottom: 100px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-left: 108px;
        padding-right: 108px;
        align-items: flex-start;
    }

    .footer-box,
    .footer-social-media,
    .send-container {
        flex: 0 0 calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .footer-logo {
        margin-bottom: 16px;

    }

    .footer-logo-full {
        text-align: left;
    }

    .accent {
        color: var(--cloud-color);
        margin: 0;
    }

    .footer-text {
        max-width: 264px;
    }

    .send-container {
        margin-top: 0;
    }

    .send-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .send-input {
        width: 264px;
        flex-shrink: 0;
    }

    .send-button {
        flex-shrink: 0;
    }

    .send-title {
        text-align: left;
    }

    .footer-subscribe-wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .social-title {
        text-align: left;
    }
}

@media screen and (min-width:1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-box {
        margin-right: 120px;
        flex: 0 0 auto;
    }

    .footer-social-media {
        flex: 0 0 auto;
    }

    .accent {
        color: var(--cloud-color);
        margin: 0;
    }

    .social-container {
        margin-right: auto;
    }

    .send-container {
        flex: 0 0 auto;
        margin: 0;
    }

    .send-title {
        text-align: start;
    }

    .footer-text {
        max-width: 264px;
    }

    .icons-send {
        fill: var(--white-color);
        margin-left: 16px;
    }
}

/*modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--dairy-color);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 16px 16px;
}

.modal-button-icons {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icons:hover,
.modal-button-icons:focus {
    border-radius: 100%;
    background-color: var(--ocean-color);
    border: none;
}


.modal-button-icons:hover .modal-button-close,
.modal-button-icons:focus .modal-button-close {
    fill: var(--white-color);
}

.modal-button-close {
    fill: var(--navy-blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue-color);
    margin-bottom: 16px;
}

.name-form {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    display: block;
    margin-bottom: 4px;
}

.modal-label-input {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--navy-blue-modal-color);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid var(--iris-color);
}

.modal-icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.modal-input:focus+.modal-icons {
    fill: var(--iris-color);
}

.comment {
    margin-bottom: 16px;
}

.modal-comments {
    border: 1px solid var(--navy-blue-modal-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navy-blue-modal-color);
    height: 120px;
    width: 100%;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comments:focus {
    border: 1px solid var(--iris-color);
}

.form-checked {
    margin-bottom: 24px;
}

.form-checked-input {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-checked-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.form-checked-label-full {
    display: inline;
}

.form-checked-link {
    color: var(--iris-color);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-left: 4px;
}

.form-checked-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
    background-color: #fff;
}

.form-checked-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris-color);
}

.form-checked-input:checked+.form-checked-label .form-checked-label-span {
    background-color: var(--ocean-color);
    border: none;
    fill: #F4F4FD;
}

.form-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--iris-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white-color);
    display: block;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
    background: var(--ocean-color);
}

@media screen and (min-width:768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media screen and (min-width:1158px) {}